h1 {
    color: #ee8855;
    margin-left: 100px;
    text-align: center;
}

.navbar {
    background-color: #d8c3a5 !important;
    border: 0px;
    width: 100%;
    height: 120px;
}

.mainImage {
    
    border: 0px;
    width: 80%;
    height: 400px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
   
}

.reservation {
    border: 20px solid #e85a4f;
    padding: 40px;
    width: 800px;
    max-width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    color: #8e8d8a;
}

.sectionImage {
    width: 50%;
    padding: 40px;
    border: 0px;
    float: right;
}

.imageSection {
    width: 50%;
    padding: 40px;
    border: 0px;
    float: left;
}
.sectionText {
    text-align: center;
    padding-top: 150px;
    border: solid 2px #e85a4f;
    margin: 100px 700px 0px 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.textSection {
    text-align: center;
    padding-top: 150px;
}


.container {
    width: 60%;
    
}

.itemText {
   
    color: #e85a4f !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.sectionHeader {
    clear: both;
    text-align: center;
    color: #f3ae2e;
}

.mainText {
    clear: both;
    border: solid 2px #e85a4f;
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.styleButton {
    margin-left: 250px;
}

.styleFooter {

    background-color: #d8c3a5 !important;
    border: 0px;
    width: 100%;
    height: 120px;
    margin-top: 50px;
}


