h1 {
    color: #ee8855;
    margin-left: 100px;
    text-align: center;
}

.navbar {
    background-color: #d8c3a5 !important;
    border: 0px;
    width: 100%;
    height: 120px;
}

.mainImage {
    
    border: 0px;
    width: 100%;
    height: 400px;
    padding: 5px;
    padding-top: 0px;
   
   
}

.reservation {
    border: 20px solid #e85a4f;
    padding: 40px;
    width: 800px;
    max-width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    color: #8e8d8a;
}

.sectionImage {
    width: 50%;
    padding: 40px;
    border: 0px;
}

.sectionDiv {
   float: right;
   height: 100px;
   margin: 10px;
   width: 50%;
   border: solid red 2px;
}

.container {
    width: 60%;
    
}

.itemText {
   
    color: #e85a4f !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}